@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <br />
    <img src="~/img/JoelHilton.jpg" alt="Joel Hilton" style="max-width: 400px; border-radius: 10px;" />
</div>