@model List<Mission06_Shim.Models.Movie>

<table class="table table-bordered table-striped">
    <thead>
    <tr>
        <th>Category</th> <th>Title</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.Category?.CategoryName</td> 
            <td>@x.Title</td>
        </tr>
    }
    </tbody>
</table>